@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */

@font-face {
    font-family: "bpg-glaho";
    src: url(../../../public/client/assets/fonts/bpg-glaho-arial-webfont.ttf);
}
@font-face {
    font-family: "le-studio";
    src: url(../../../public/client/assets/fonts/bpg_le_studio.ttf);
}

*,
*::after,
*::before {
    font-family: "bpg-glaho";
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::after,
*::before {
    position: absolute;
    content: "";
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f8f9fd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000a25;
}
::-webkit-scrollbar-thumb:hover {
    background: #4346c2;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "bpg-glaho";
    font-weight: 400;
    line-height: 1.3;
    color: #000a25;
    background: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}
input,
textarea {
    border-bottom: 1px solid rgb(107 114 128);
}
h1 {
    font-weight: 600;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    font-family: "le-studio";
}
button {
    cursor: pointer;
    outline: none;
}
img {
    height: auto;
    max-width: 100%;
}
.wrapper {
    width: 1850px;
    margin: auto;
}
.wrapper2 {
    width: 1550px;
    margin: auto;
}

@media screen and (max-width: 1900px) {
    .wrapper {
        width: 97%;
    }
    .wrapper2 {
        width: 95%;
    }
}

/* end of general */

/* hero slider */

.heroSwiper .swiper-pagination {
    bottom: auto;
    left: auto !important;
    right: 0;
    top: 57px;
    transform: none;
    text-align: right;
    height: fit-content;
}
.heroSwiper .swiper-button-next,
.heroSwiper .swiper-button-prev {
    display: none;
}
.heroSwiper .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    border-radius: 0;
    transition: 0.3s;
}
.heroSwiper .swiper-pagination-bullet-active {
    background: #000a25;
    width: 60px;
}
.heroImg {
    height: 100vh;
}
.heroSwiper .swiper-slide-prev .heroImg {
    transform: translateX(-100%);
}
.heroSwiper .swiper-slide-next .heroImg {
    transform: translateX(100%);
}
.heroSwiper .swiper-slide-active .heroImg {
    transform: translateX(0%);
}
.heroSwiper .swiper-slide-prev .heroTitle {
    transform: translateX(-100px);
}
.heroSwiper .swiper-slide-next .heroTitle {
    transform: translateX(100px);
}
.heroSwiper .swiper-slide-active .heroTitle {
    transform: translateX(0);
}
.heroSwiper .swiper-wrapper {
    align-items: stretch;
}
@media screen and (max-width: 640px) {
    .heroSwiper .swiper-pagination {
        bottom: 6px;
        right: 10px !important;
        top: auto;
    }
    .heroSwiper .swiper-pagination-bullet {
        background-color: #fff;
    }
    .heroSwiper .swiper-pagination-bullet-active {
        background: #fff;
    }
    .heroImg {
        height: 300px;
    }
}
.scrollbarSlider .swiper-horizontal > .swiper-scrollbar,
.scrollbarSlider .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 3px;
}
.scrollbarSlider .swiper-scrollbar-drag {
    background-color: #000a25;
    border-radius: 0;
}
